body {
    background-color: #e0e0e0;
    font-family: 'Kaisei Opti', serif;
}
.container {
    display: flex;
    height: 100%;
}

.user__block {
    width: 48%;
    padding-left: 2%;
    background-color: #f1f2f3;
}

.wall_message {
    padding-left: 10px;
    background-color: rgba(255, 240, 254, 0.73);
    width: 50%;
}

.message_block {
    display: flex;
    margin-top: 10px;
    width: 100%;
    background-color: azure;
    border: rosybrown 1px solid;
}

.message_actions {
    margin-left: 300px;
}


