{% extends 'base.html.twig' %}

{% block body %}
    {{ errors }}
    <h1>
        Смена пароля
    </h1>
    <form method="post" action="{{ path('changePassword') }}">
        <label for="inputusername">Старый пароль</label>
        <input type="password" name="old_password" id="inputusername" class="form-control" required autofocus>
        <label for="inputPassword">Новый пароль</label>
        <input type="password" name="password1" id="inputPassword1" class="form-control" required>

        <label for="inputPassword">Повторите пароль</label>
        <input type="password" name="password2" id="inputPassword2" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('changePassword') }}"
        >
        <input class="btn btn-lg btn-primary" type="submit" value="Сменить" >

    </form>
{% endblock %}